<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.linkgems.rical.backend.dao.mapper.user.UserBaseMapper">
  <resultMap id="BaseResultMap" type="org.linkgems.rical.backend.domain.po.user.UserBase">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="USER_ID" jdbcType="BIGINT" property="userId" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="SEX" jdbcType="INTEGER" property="sex" />
    <result column="ID_TYPE" jdbcType="INTEGER" property="idType" />
    <result column="ID_NUM" jdbcType="VARCHAR" property="idNum" />
    <result column="DELETED" jdbcType="VARCHAR" property="deleted" />
    <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="UPDATED_TIME" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
</mapper>